*.log
*.png
#*.pb.cc
#*.pb.h

.env
.env.*
!.env.example
secret.yml
secret.db.yml
*.key
!.gitignore
docker/ai/.claude.json

.idea/
.vscode/
.trae/
.obsidian/
.vercel/
.claude/
build*/
**/__pycache__/
**/cmake-build-*/
src/clients/test/
data_repo/
log/
web_client/node_modules/
vcpkg_installed/
